<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>699AB0B51DA64A90000AACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>699AB0CE1DA64A90000AACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>699AB0D91DA64A91000AACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
