<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>05-Runtime(字典转模型KVC实现).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70C155971BD8C94A00D288D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C155B01BD8C94A00D288D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C155BB1BD8C94A00D288D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
