<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-Runtime(消息机制).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70C1548F1BD88D2300D288D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C154A81BD88D2300D288D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C154B31BD88D2300D288D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
